<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "You sure?" } %>
  
  <div class="stats">
    <a href="<%= following_user_path(user) %>">
      <strong id="following" class="stat">
        <%= user.following.count %>
      </strong>
      following
    </a>
    <a href="<%= followers_user_path(user) %>">
      <strong id="followers" class="stat">
        <%= user.followers.count %>
      </strong>
      followers
    </a>
  <% end %>
  <p><%= user.introduction %></p>
</li>
